<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>A Team</title>

	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

	<!-- font awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- bootstrap -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />

	<!-- animate.css -->
	<link rel="stylesheet" href="/assets/animate/animate.css" />
	<link rel="stylesheet" href="/assets/animate/set.css" />

	<!-- gallery -->
	<link rel="stylesheet" href="/assets/gallery/blueimp-gallery.min.css">

	<!-- favicon -->
    <link rel="shortcut icon" href="/images/moxie-favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="/images/moxie-favicon-16x16.png" type="image/png" sizes="16x16">

	<link rel="stylesheet" href="~/assets/channelCategories.css">
	<link rel="stylesheet" href="/assets/style.css">

	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("styles", required: false)

</head>

<body ng-app="attApp">
    <div class="topbar animated fadeInLeftBig"></div>

    <!-- Header Starts -->
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Logo Starts -->
                        <a class="navbar-brand" href="#home">
                            @*<h2 class="effect-oscar  wowload fadeInUp">A Team</h2>*@
                            <img src="/images/moxie-logo.png" alt="logo" style="width:170px; position: relative; top:-20px">
                        </a>

                        <!-- #Logo Ends -->


                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>


                    <!-- Nav Starts -->
                    <div class="navbar-collapse  collapse">
                        <ul class="nav navbar-nav navbar-right scroll">
                            <li class="active"><a href="#works">Home</a></li>
                            <li><a href="#about">Playlists</a></li>
                            <li><a href="#partners">News</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- #Nav Ends -->

                </div>
            </div>

        </div>
    </div>
    <!-- #Header Starts -->

	<div ng-controller="channelCategoryController as channelCat" id="works" class="container channelContainer clearfix grid">
		<div id="works" class="container clearfix grid">
			<figure ng-repeat="channel in channelCat.channels" class="effect-oscar  wowload fadeIn">
				<img ng-src="{{channel.url}}" alt="img01" />
				<figcaption>
					<h2 id="title">{{channel.title}}</h2>
					<p>
						Check out the channel<br>
						<a ng-href="~/Channels/{{channelCat.category}}Channel/{{channel.title}}">Click here</a>
					</p>
				</figcaption>
			</figure>
		</div>
	</div>

    @RenderBody()


    <!-- Footer Starts -->
    <!-- # Footer Ends -->
    <a href="#works" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)


    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title">Title</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
    </div>



    <!-- jquery -->
    <script src="/assets/jquery.js"></script>

    <!-- wow script -->
    <script src="/assets/wow/wow.min.js"></script>


    <!-- boostrap -->
    <script src="/assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>\
    <!-- jquery mobile -->
    <script src="/assets/mobile/touchSwipe.min.js"></script>
    <script src="/assets/respond/respond.js"></script>

    <!-- gallery -->
    <script src="/assets/gallery/jquery.blueimp-gallery.min.js"></script>

    <!-- custom script -->
    <script src="/assets/script.js"></script>
</body>
</html>